* {
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
    margin: 0px;
}

.row {
    margin: 0;
    padding: 0px;
}

.col-sm-9,
.col-xs-3,
.col-md-10,
.col-md-2,
.col-sm-2,
.col-xs-12,
.col-sm-10,
.col-xs-9,
.col-xs-4 {
    padding: 0px;
    overflow: hidden;
}

a:link {
    text-decoration: none;
}

body {
    height: auto;
    font: 12px/1.14 "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", "Helvetica Neue", Arial, sans-serif;
}

.wtopbar {
    height: 34px;
    background: black;
    margin-bottom: 16px;
    overflow: hidden;
}

.mob-nav {
    height: 40px;
    background: white;
    overflow: hidden;
    .mob-nav-menu {
        // position: relative;
        height: 40px;
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background-color: #FCFCFC;
        position: fixed;
        top: 0px;
        z-index: 9999;
        width: 100%;
        .swiper-slide {
            width: 16.6%!important;
            height: 40px;
            line-height: 40px;
            text-align: center;
            // float: left;
            a {
                display: inline-block;
                // padding: 0 10px;
                font-size: 18px;
                color: #333;
            }
            .nav-active {
                color: #FF6D34;
            }
        }
    }
}

.container {
    .navFix {
        width: 90px;
        height: 800px;
        position: fixed;
        top: 0px;
    }
    .left-div {
        width: 90px;
        height: 800px;
        .left-menu {
            background-color: white;
            height: 800px;
            width: 90px;
            text-align: center;
            padding-left: 0px;
            li {
                height: 40px;
                overflow: hidden;
                margin-bottom: 2px;
                a {
                    line-height: 40px;
                    height: 40px;
                    display: block;
                    font-size: 16px;
                    color: #444;
                    &:hover {
                        background: #ED4040;
                        opacity: 0.9;
                        color: white;
                        border-radius: 4px;
                    }
                }
                .active {
                    background: #ED4040;
                    opacity: 0.9;
                    color: white;
                    border-radius: 4px;
                }
            }
        }
    }
    .right-content {
        overflow: hidden;
        ul {
            width: 100%;
            li {
                border-bottom: 1px solid #ccc;
                padding-bottom: 20px;
                .username {
                    float: left;
                    font-size: 14px;
                    padding-top: 20px;
                    padding-bottom: 10px;
                }
                .time {
                    float: right;
                    font-size: 14px;
                    padding-top: 20px;
                    padding-bottom: 10px;
                }
                .text {
                    width: 100%;
                    font-size: 16px;
                    margin-top: 10px;
                    margin-bottom: 20px;
                    float: left;
                    display: block;
                }
            }
        }
    }
}

#example_video_1 {
    float: left;
}

@media (min-width: 480px) {
    // .right-content ul {
    //     margin-left: 10px;
    // }
    .box .news-title {
        // font-weight: 600;
        font-size: 18px!important;
        line-height: 1.4!important;
    }
    .container .right-content ul li .right-content-a {
        display: block;
        overflow: hidden;
        height: 140px;
    }
}

@media (min-width: 768px) {
    .right-content ul {
        margin-left: 55px;
    }
    .box .news-title {
        font-weight: 600;
        font-size: 18px!important;
        line-height: 1.4!important;
    }
    .container .right-content ul li .right-content-a {
        display: block;
        overflow: hidden;
        height: 140px;
    }
}

@media (min-width: 992px) {
    .div-img {
        width: 550px;
    }
    .right-content ul {
        width: 70%!important;
    }
}

@media (min-width: 1200px) {
    .right-content ul {
        width: 60%!important;
    }
}