* {
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
    margin: 0px;
}

.row {
    margin: 0;
    padding: 0px;
}

.col-sm-9,
.col-xs-3,
.col-md-10,
.col-md-2,
.col-sm-2,
.col-xs-12,
.col-sm-10,
.col-xs-9,
.col-xs-4 {
    padding: 0px;
    overflow: hidden;
}

a:link {
    text-decoration: none;
}

body {
    height: auto;
    font: 12px/1.14 "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", "Helvetica Neue", Arial, sans-serif;
}

.wtopbar {
    height: 34px;
    background: black;
    margin-bottom: 16px;
    overflow: hidden;
}

.mob-nav {
    height: 40px;
    background: white;
    overflow: hidden;
    .mob-nav-menu {
        // position: relative;
        height: 40px;
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background-color: #FCFCFC;
        position: fixed;
        top: 0px;
        z-index: 9999;
        width: 100%;
        .swiper-slide {
            width: 16.6%!important;
            height: 40px;
            line-height: 40px;
            text-align: center;
            // float: left;
            a {
                display: inline-block;
                // padding: 0 10px;
                font-size: 18px;
                color: #333;
            }
            .nav-active {
                color: #FF6D34;
            }
        }
    }
}

.container {
    .navFix {
        width: 90px;
        height: 800px;
        position: fixed;
        top: 0px;
    }
    .left-div {
        width: 90px;
        height: 800px;
        .left-menu {
            background-color: white;
            height: 800px;
            width: 90px;
            text-align: center;
            padding-left: 0px;
            li {
                height: 40px;
                overflow: hidden;
                margin-bottom: 2px;
                a {
                    line-height: 40px;
                    height: 40px;
                    display: block;
                    font-size: 16px;
                    color: #444;
                    &:hover {
                        background: #ED4040;
                        opacity: 0.9;
                        color: white;
                        border-radius: 4px;
                    }
                }
                .active {
                    background: #ED4040;
                    opacity: 0.9;
                    color: white;
                    border-radius: 4px;
                }
            }
        }
    }
    .right-content {
        overflow: hidden;
        ul {
            width: 100%;
            li {
                border-bottom: 1px solid #ccc;
                .right-content-a {
                    display: block;
                    overflow: hidden;
                    height: 100px;
                    img {
                        height: calc(100% - 20px);
                        width: calc(100% - 2px);
                        margin: 10px auto;
                        margin-left: 2px;
                    }
                }
                .box {
                    padding: 0px;
                    .news-title {
                        margin-top: 15px;
                        color: #222222;
                        font-size: 18px;
                        line-height: 1.5;
                        text-overflow: -o-ellipsis-lastline;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                    }
                    .news-foot {
                        text-overflow: -o-ellipsis-lastline;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        margin: 10px 0;
                        span {
                            font-size: 12px;
                            display: inline-block;
                            // padding: 0 2px;
                            // margin: 0 0 10px 0;
                        }
                        span:nth-child(1) {
                            border: 1px solid #FF7920;
                            color: #FF7920;
                        }
                    }
                    .moreimg {
                        height: calc(100% - 10px);
                        width: 100%;
                        margin: 0;
                        margin-left: 2px;
                    }
                }
            }
        }
    }
}

img {
    transition: opacity 1.5s !important;
}

@media (min-width: 480px) {
    // .right-content ul {
    //     margin-left: 10px;
    // }
    .box .news-title {
        // font-weight: 600;
        font-size: 18px!important;
        line-height: 1.4!important;
    }
    .container .right-content ul li .right-content-a {
        display: block;
        overflow: hidden;
        height: 140px;
    }
}

@media (min-width: 768px) {
    .right-content ul {
        margin-left: 10px;
    }
    .box .news-title {
        font-weight: 600;
        font-size: 18px!important;
        line-height: 1.4!important;
    }
    .container .right-content ul li .right-content-a {
        display: block;
        overflow: hidden;
        height: 140px;
    }
}

@media (min-width: 992px) {
    .right-content ul {
        margin-left: 20px;
    }
    .box .news-title {
        font-weight: 600;
        font-size: 24px!important;
        line-height: 1.4!important;
    }
    img {
        height: 200px;
        padding: 10px 10px 10px 0;
    }
    .container .right-content ul li .right-content-a {
        display: block;
        overflow: hidden;
        height: 200px;
    }
}

@media (min-width: 1200px) {}