<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://oj3eoe0eo.bkt.clouddn.com/bootstrap.min.css">
    <link rel="stylesheet" href="http://oj3eoe0eo.bkt.clouddn.com/swiper-3.4.1.min.css">
    <link rel="stylesheet" href="http://oj3eoe0eo.bkt.clouddn.com/video-js.min.css">
    <link rel="stylesheet" href="css/funny.css">
    <!--<link rel="stylesheet" href="css/media.css">-->
</head>

<body>
    <div class="hidden-xs wtopbar container-fluid">
        <a href="http://www.jresun.cn" class="btn btn-primary">JreSun</a>
    </div>
    <div class="visible-xs container-fluid mob-nav" style="padding:0px;margin:0px;">
        <div class="swiper-container mob-nav-menu">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><a href="index.html">社会</a></div>
                <div class="swiper-slide"><a class="nav-active" href="funny.html">搞笑</a></div>
                <div class="swiper-slide"> <a href="technology.html">科技</a></div>
                <div class="swiper-slide"><a href="entertainment.html">娱乐</a></div>
                <div class="swiper-slide"><a href="car.html">汽车</a></div>
                <div class="swiper-slide"><a href="science.html">科普</a></div>
                <div class="swiper-slide"><a href="sociology.html">国内</a></div>
                <div class="swiper-slide"><a href="fime.html">电影</a></div>
                <div class="swiper-slide"><a href="international.html">国际</a></div>
                <div class="swiper-slide"><a href="sports.html">体育</a></div>
                <div class="swiper-slide"><a href="tv.html">电视</a></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="left-div col-sm-2 col-md-2 hidden-xs">
                <ul class="left-menu">
                    <li>
                        <a href="index.html">社会</a>
                    </li>
                    <li>
                        <a class="active" href="funny.html">搞笑</a>
                    </li>
                    <li>
                        <a href="technology.html">科技</a>
                    </li>
                    <li>
                        <a href="entertainment.html">娱乐</a>
                    </li>
                    <li>
                        <a href="car.html">汽车</a>
                    </li>
                    <li>
                        <a href="science.html">科普</a>
                    </li>
                    <li>
                        <a href="sociology.html">国内</a>
                    </li>
                    <li>
                        <a href="fime.html">电影</a>
                    </li>
                    <li>
                        <a href="international.html">国际</a>
                    </li>

                    <li>
                        <a href="sports.html">体育</a>
                    </li>
                    <li>
                        <a href="tv.html">电视</a>
                    </li>
                </ul>
            </div>

            <div class="right-content col-sm-10 col-md-10">
                <div id="app">
                    <ul class="row">
                        <li class="row" v-for="item in items">
                            <div class="col-xs-12">
                                <span class="username">{{item.name}}</span>
                                <span class="time">{{item.create_time}}</span>
                                <span class="text">{{item.text}}</span>
                            </div>
                            <template v-if=item.image0>
                                <div class="div-img">
                                    <img class="img-responsive lazy" :src='item.image0' alt="抱歉服务器爆了，请刷新一下">
                                </div>     
                            </template>
                            <template v-if=item.video_uri>
                                 <video id="example_video_1" class="video-js vjs-default-skin vjs-big-play-centered img-responsive" controls preload="none"  data-setup="{}">
                                <source :src='item.video_uri' type='video/mp4' />
                                <source :src='item.video_uri' type='video/webm' />
                                <source :src='item.video_uri' type='video/ogg' />
                                </video>
                            </template>
                        </li>
                    </ul>
                    <!--<button v-show='3<4' v-on:mouseenter="a" v-on:mouseleave="b" v-bind:class="{ h: isActive }" type="button">按钮</button>-->
                </div>
            </div>
        </div>

    </div>


    <!--<a href="http://v.juhe.cn/joke/randJoke.php?key=e4a374b02eeb3945255703caf4816535&type=pi">aaa</a>-->
    <script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <!--<script src="http://v.juhe.cn/toutiao/index?type=top&key=84f8ec4cc989878d051dfc851b8c250a"></script>-->
    <!--<script src="js/jquery.jsonp.js"></script>-->
    <script src="http://oj3eoe0eo.bkt.clouddn.com/vue.min.js"></script>
    <script src="http://oj3eoe0eo.bkt.clouddn.com/bootstrap.min.js"></script>
    <script src="http://oj3eoe0eo.bkt.clouddn.com/html5media.min.js"></script>
    <script src="http://oj3eoe0eo.bkt.clouddn.com/swiper.min.js"></script>
    <script src="http://oj3eoe0eo.bkt.clouddn.com/video.js"></script>
    <!--<script src="http://oj3eoe0eo.bkt.clouddn.com/vue.lazyimg.js"></script>-->
    <script src="js/funny.js"></script>
</body>

</html>